* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    margin: 0 5px;
}

img {
    background-repeat: no-repeat;
}

#home-cap {
    margin: 0 15% 5% 15%;
}

.sec-1 h1 {
    text-align: center;
    font-size: 35px;
    color: #000;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#text {
    margin-right: 26%;
}

.sec-1 img {
    width: 70%;
    height: auto;
    margin: 0 15%;
    margin-top: 20px !important;
}


/*
.sec-2 {
    width: 70%;
    margin: 0 15%;
}*/

.paragraphs {
    margin: 0 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 20px;
    opacity: .9;
    line-height: 30px;
}

.paragraphs p {
    margin-bottom: 20px;
}


/* side div containrs for the editors*/

.editor-section {
    width: 40%;
    position: absolute;
    right: 0;
    margin-left: 80%;
}

.editor img {
    display: block;
    width: 30%;
}

.editor p {
    display: block;
    width: 40%;
    margin: 0;
}


/*Inflation section*/

.inflation-section {
    width: 80%;
    margin: 5% 10%;
}

.section-theory {
    display: flex;
    flex-direction: flex-start;
    width: 100%;
}

.inflation-section h2 {
    margin: 2% 5%;
}

.inflation-section p {
    margin: 2% 5%;
}

.inflation-theory {
    padding: 30px;
    width: 25%;
    height: auto;
}

.inflation-theory img {
    width: 100%;
    padding-bottom: 5px;
}

.middle-text {
    margin: 5% 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 20px;
    opacity: .9;
    line-height: 30px;
}

.inner-img-container {
    width: 100%;
}

.part {
    width: 100%;
    display: flex;
}

.contained-img {
    width: 100%;
    margin: 10px;
}

.contained-img img {
    width: 100%;
    height: auto;
}

.editor-section {
    margin: 20px 0;
}

.part h2 {
    font-size: 18px;
}

#jumbo {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    margin: 20px 0;
}

.suggested {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.section-img {
    width: 50%;
    height: auto;
    border: 1px solid black;
    border-style: groove;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding: 10px;
}

.add {
    padding: 10px;
    border-radius: 50%;
    position: relative;
    float: right;
    margin: 10px;
}

.section-1 {
    width: 70%;
    margin-left: 5%;
}

.side-by-side {
    width: 30%;
    font-size: 18px;
    color: black;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.side-by-side p {
    margin-bottom: 25px;
    margin-left: 20px;
    width: 80%;
}

.side-by-side hr {
    width: 80%;
    margin-left: 20px;
}

.side-by-side h2 {
    margin-top: 10px;
    margin-left: 20px;
}

.sec-4 {
    display: flex;
}


/*Footer styling starts here*/

footer {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
}

#footer-heading {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 10px;
}

#main-section {
    display: block;
    width: 100%;
}

.section {
    padding-left: 25px;
    height: 300px;
    float: left;
    width: 16%;
    font-size: 15px;
    color: black;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

.section a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.section a:hover {
    border-bottom: 1px solid black;
}

h2 {
    font-size: 18px;
    color: black;
    font-weight: lighter;
}

.col-6 {
    border-left: 1px solid black;
    border: 0px 0px 0px 2px;
    padding-left: 10px;
    width: 20% !important;
}


/*footer link tems*/

.sub-footer {
    width: 100%;
    margin-top: 20px;
    text-align: right;
}

.link-container {
    list-style-type: none;
    width: 80%;
    margin-left: 15%;
    margin-bottom: 20px;
}

#copyright {
    float: left;
    display: block;
    font-size: 12px;
    width: 20%;
    margin-left: 5%;
}

.link-container li {
    display: inline-block;
}

.link {
    padding-left: 15px;
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.link:hover {
    border-bottom: 1px solid black;
}

#end-note p {
    text-align: center;
    border-top: 1px solid black;
    padding: 20px;
}